:root {
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: var(--primery-text-color);
}

.conteiner {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* -----------------Сброс--------------- */

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------Header------------------ */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.page-headrer-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-logo {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    /* margin: 24px 76px 24px auto; */
    margin-right: 76px;
}

.header-navigation {
    color: var(--title-text-color);
    font-weight: 500;

    display: flex;
}



.second-logo {
    color: var(--title-text-color);
}

.page-address-conteiner {
    display: flex;
    align-items: center;
    gap: 40px;

}


.contacts-mail,
.contacts-tel {
    color: var(--primery-text-color);
}

.header-logo:hover,
.header-logo:focus,
.header-link:hover,
.header-link:focus,
.contacts-mail:hover,
.contacts-mail:focus,
.contacts-tel:hover,
.contacts-tel:focus {
    color: #404BBF;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;

}

.header-link {
    font-weight: 500;
    color: var(--title-text-color);

}



.first-logo,
.current {
    color: var(--accent-color);
}

/* -----------------Hero--------------- */
.hero {
    background-color: #2E2F42;




}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.08;
    text-align: center;
    color: #ffffff;



    margin-bottom: 48px;

}

.hero-btn {
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
}

.hero-btn:hover,
.hero-btn:focus,
.filter-btn:hover,
.filter-btn:focus {
    background-color: #404BBF;
}

/* --------------------Advantages ---------------------*/


.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}

.section-list {
    display: flex;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.text-list {
    color: var(--primery-text-color);
}

/*-----------------Our Team-------------------*/
.team {
    background-color: #F4F4FD;
}

.bgr-color {
    background-color: #ffffff;
}

/* footer */
.footer {
    background-color: #2E2F42;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    align-content: flex-start;
}

.footer-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: #F4F4FD;
    text-transform: uppercase;
    margin-bottom: 16px;

}

.footer-text {
    color: #E7E9FC;
    width: 264px;
}

/* ----------------Navigation filter----------------- */

.filter-list {
    display: flex;
}


.filter-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    padding: 12px 24px;

}

.filter-btn:hover,
.filter-btn:focus {
    color: #ffffff;
    background-color: #404BBF;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    column-gap: 24px;
}